name: maintenance_banner
description: A Flutter package for displaying maintenance banners in your app
version: 0.2.1
homepage: https://github.com/EmD-228/maintenance_banner

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

